<div>
  <h2>По операционным системам: </h2>
  <table>
    <% @by_oses.each do |click| %>
      <tr>
        <th rowspan='<%= click.values.flatten.count %>' > <%= click.keys.first %> </th>
        <% click.values.first.each do |info| %>
          <td><%= info.platform %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
